/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top;*/ /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

#mainMenuView{
    display: none;
}

#gameView{
    display: none;
}

#lobbyView{
    display: none;
}

#leaderboardView{
    display: none;
}

#resultView{
    display: none;
}


*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
} 

#vueJeu{
	display: none;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50vh;

}

.header{
  background-color: grey;
  overflow: hidden;
  height: 10vh;
  margin: 0px;
  padding: 0px;
  box-shadow: 3px 3px 15px 2px black;

  font-size: 1.1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header #title{
	color: white;
}


.div_terrain{
	width: 100%;
	height: 60vh;
	/*background-color: lightskyblue;*/

	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#terrain{
	width: 100vw;
	height: 100vw;
	
	background-color: ghostwhite;
	/*border: 1px solid black;*/
	display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: lightgreen;*/
}

#terrain #childTerrain{
		
	display: flex;
 	flex-direction: column;
  justify-content: center;
	/*background-color: lightcoral;*/
}


#terrain table {
  border-collapse: collapse;
  border-spacing: 0;
}

#terrain td{
    height:10px;
    width:10px;
	/* height: 3vw; */
	/* width: 3vw; */
	/*border: 1px solid lightgrey;*/
	margin: 0;
	padding: 0;
}

.wall{
	background-color: black;
}

.playerBlue{
	background-color: blue;
}
.playerRed{
	background-color: red;
}
.playerYellow{
	background-color: orange;
}
.playerGreen{
	background-color: green;
}

.blue{
	background-color: lightblue;
}
.red{
	background-color: palevioletred;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: lightgreen;
}

#info_couleur{
	font-weight: bold;
	/*color: green;*/
}


.footer{
	height: 30vh;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.footer #arrow_div{
	/*background-color: lightblue;*/
	background-image: url("../img/fleches_directionnelles.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


#arrow_div {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer #arrow_div td{
	height: 50px;
	width: 50px;
	/*border: 1px solid black;*/
}

.footer #btn_start{
	height: 30px;
	width: 60px;
}

#btn_haut, #btn_gauche, #btn_droite, #btn_bas{
	/*border: 1px solid black;
	box-shadow: 2px 2px 10px 2px black;*/
	border-radius: 20px;
	transition: 0.3s;
}

#btn_haut:hover, #btn_gauche:hover, #btn_droite:hover, #btn_bas:hover, #btn_start:hover{
		cursor: pointer;
}






