*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.vueJeu{
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50vh;

}

.header{
  background-color: grey;
  overflow: hidden;
  height: 10vh;
  margin: 0px;
  padding: 0px;
  box-shadow: 3px 3px 15px 2px black;

  font-size: 1.1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header #title{
	color: white;
}


.div_terrain{
	width: 100%;
	height: 60vh;
	/*background-color: lightskyblue;*/

	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#terrain{
	width: 100vw;
	height: 100vw;
	
	background-color: ghostwhite;
	/*border: 1px solid black;*/
	display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: lightgreen;*/
}

#terrain #childTerrain{
		
	display: flex;
 	flex-direction: column;
  justify-content: center;
	/*background-color: lightcoral;*/
}


#terrain table {
  border-collapse: collapse;
  border-spacing: 0;
}

#terrain td{
	height: 3vw;
	width: 3vw;
	/*border: 1px solid lightgrey;*/
	margin: 0;
	padding: 0;
}

.wall{
	background-color: black;
}

.playerBlue{
	background-color: blue;
}
.playerRed{
	background-color: red;
}
.playerYellow{
	background-color: orange;
}
.playerGreen{
	background-color: green;
}

.blue{
	background-color: lightblue;
}
.red{
	background-color: palevioletred;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: lightgreen;
}


.footer{
	height: 30vh;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.footer #arrow_div{
	/*background-color: lightblue;*/
	background-image: url("./assets/fleches_directionnelles.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


#arrow_div {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer #arrow_div td{
	height: 50px;
	width: 50px;
	/*border: 1px solid black;*/
}

.footer #btn_start{
	height: 30px;
	width: 60px;
}

#btn_haut, #btn_gauche, #btn_droite, #btn_bas{
	/*border: 1px solid black;
	box-shadow: 2px 2px 10px 2px black;*/
	border-radius: 20px;
	transition: 0.3s;
}

#btn_haut:hover, #btn_gauche:hover, #btn_droite:hover, #btn_bas:hover, #btn_start:hover{
		cursor: pointer;
}






