:root{
  --main-bg-color: #23242a;
  --div-color: #28292d;
  --black-color: #1c1c1c;
  --tron-color: #45f3ff;
  --font-color: #8f8f8f;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body 
{
	background: var(--main-bg-color);
}

.header{
  background-color: var(--div-color);
  overflow: hidden;
  height: 10vh;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid var(--black-color);
  box-shadow: 3px 3px 15px 2px var(--tron-color);

  font-size: 1.1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header #title{
	color: var(--tron-color);
	font-size: 1.5em;
}

/* ----------------- Vue Connexion ----------------- */

#vueConnexion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

#vueConnexion .box 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: var(--black-color);
	border-radius: 8px;
	overflow: hidden;
}
#vueConnexion .box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--tron-color),var(--tron-color));
	animation: animate 6s linear infinite;
}
#vueConnexion .box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--tron-color),var(--tron-color));
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
#vueConnexion form 
{
	position: absolute;
	inset: 2px;
	background: var(--div-color);
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
#vueConnexion h2 
{
	color: var(--tron-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
#vueConnexion .inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
#vueConnexion .inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
#vueConnexion .inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: var(--font-color);
	letter-spacing: 0.05em;
	transition: 0.5s;
}
#vueConnexion .inputBox input:valid ~ span,
#vueConnexion .inputBox input:focus ~ span 
{
	color: var(--tron-color);
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
#vueConnexion .inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: var(--tron-color);
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
#vueConnexion .inputBox input:valid ~ i,
#vueConnexion .inputBox input:focus ~ i 
{
	height: 44px;
}
#vueConnexion .links 
{
	display: flex;
	justify-content: space-between;
}
#vueConnexion .links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: var(--font-color);
	text-decoration: beige;
}
#vueConnexion .links a:hover, 
#vueConnexion .links a:nth-child(2)
{
	color: #45f3ff;
}
#vueConnexion input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
#vueConnexion input[type="submit"]:active 
{
	opacity: 0.8;
}

#vueConnexion #btn_submit{
	margin-top: 50px;
}


/* ----------------- Vue Menu ----------------- */

#vueMenu, #vueLobby, #vueScores, #vueEcranFin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

#vueMenu .box, 
#vueLobby .box,
#vueScores .box,
#vueEcranFin .box
{
	position: relative;
	width: 380px;
	height: 420px;
	background: var(--black-color);
	border-radius: 8px;
	overflow: hidden;
}
#vueMenu .box::before, 
#vueLobby .box::before,
#vueScores .box::before,
#vueEcranFin .box::before
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--tron-color),var(--tron-color));
	animation: animate 6s linear infinite;
}
#vueMenu .box::after,
#vueLobby .box::after,
#vueScores .box::after,
#vueEcranFin .box::after
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,var(--tron-color),var(--tron-color));
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
#vueMenu #inside,
#vueLobby #inside,
#vueScores #inside,
#vueEcranFin #inside
{
	position: absolute;
	inset: 2px;
	background: var(--div-color);
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#vueMenu h2 
{
	color: var(--tron-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 50px;
	font-size: 1.2em;
}

#vueMenu button{
	height: 50px;
	width: 150px;
	margin: 20px;

	border-radius: 5px;
	background-color: var(--tron-color);

	font-weight: bold;
}


/* ----------------- Vue Lobby ----------------- */

#vueLobby p{
	color: var(--tron-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 50px;
	font-style: italic;
}

#vueLobby button{
	height: 50px;
	width: 150px;
	margin: 20px;

	border-radius: 5px;
	background-color: var(--tron-color);

	font-weight: bold;
}

#vueLobby .box::before, 
#vueLobby .box::after{
	background: linear-gradient(0deg,transparent,red,red);
}


/* ----------------- Vue Scores ----------------- */

#vueScores h2, #vueEcranFin h2{
	color: var(--tron-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 50px;
	font-size: 1.2em;
}

#vueScores p{
	color: var(--font-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	margin: 10px;
	font-size: 0.9em;
}

#vueScores button, #vueEcranFin button{
	height: 40px;
	width: 140px;
	margin-top: 30px;

	border-radius: 5px;
	background-color: var(--tron-color);

	font-weight: bold;
}


/* ----------------- Vue Ecran de fin ----------------- */

#vueEcranFin p{
	color: var(--font-color);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}

/* ----------------- Vue Jeu ----------------- */



#vueJeu{
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 90vh;

}

#vueJeu .box{
	position: relative;
	width: 480px;
	height: 485px;
	background: var(--black-color);
	border-radius: 8px;
	overflow: hidden;

	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;
}


#vueJeu #terrain{
	position: absolute;
	inset: 2px;
	background: var(--div-color);
	
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}

#vueJeu #terrain #childTerrain{
		
	display: flex;
 	flex-direction: column;
  justify-content: center;
	/*background-color: lightcoral;*/
}

#vueJeu #terrain table {
  border-collapse: collapse;
  border-spacing: 0;
}

#vueJeu #terrain td{
	height: 7px;
	width: 7px;
	/*border: 1px solid lightgrey;*/
	margin: 0;
	padding: 0;
}

.wall{
	background-color: var(--black-color);
}

.playerBlue{
	background-color: blue;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 5px blue;
}
.playerRed{
	background-color: darkred;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 5px darkred;
}
.playerYellow{
	background-color: orange;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 5px orange;
}
.playerGreen{
	background-color: green;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 5px green;
}

.blue{
	background-color: var(--tron-color);
	box-shadow: 1px 1px 10px 2px var(--tron-color);
}
.red{
	background-color: red;
	box-shadow: 1px 1px 10px 2px red;
}
.yellow{
	background-color: yellow;
	box-shadow: 1px 1px 10px 2px yellow;
}
.green{
	background-color: lightgreen;
	box-shadow: 1px 1px 10px 2px lightgreen;
}

#vueJeu #info_couleur{
	/*font-weight: bold;*/
	letter-spacing: 0.1em;
	font-style: italic;
}

#vueJeu .footer{
	height: 30vh;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#vueJeu .footer #arrow_div{
	/*background-color: lightblue;*/
	background-image: url("./assets/fleches_directionnelles.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#vueJeu .footer #arrow_div {
  border-collapse: collapse;
  border-spacing: 0;
}

#vueJeu .footer #arrow_div td{
	height: 50px;
	width: 50px;
	/*border: 1px solid black;*/
}

#vueJeu .footer #btn_start{
	height: 30px;
	width: 60px;

	border-radius: 3px;
	background-color: var(--font-color);

	font-weight: bold;
}

#vueJeu #btn_haut, #vueJeu #btn_gauche, #vueJeu #btn_droite, #vueJeu #btn_bas{
	/*border: 1px solid black;
	box-shadow: 2px 2px 10px 2px black;*/
	border-radius: 20px;
	transition: 0.3s;
}

#vueJeu #btn_haut:hover, #vueJeu #btn_gauche:hover, #vueJeu #btn_droite:hover, #vueJeu #btn_bas:hover, #vueJeu #btn_start:hover{
		cursor: pointer;
}

#vueJeu #chrono{
	color: var(--font-color);
}




